body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
}

/* NAVBAR */
.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.nav-logo {
<div class="nav-logo">
  <span>RÖDA BRIGADEN</span>
  <img src="LOGA.jpg" alt="Röda Brigaden logotyp">
</div>
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.nav-links a:hover {
  color: crimson;
}
