body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #111;
  color: white;
}

/* NAVBAR */
.navbar {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
}

.nav-logo {
  display: flex;
  align-items: center;
  gap: 10px; /* avstånd mellan text och logga */
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
}

.nav-logo span {
  color: crimson; /* Röd text */
}

.nav-logo img {
  height: 40px; /* Anpassa storlek på logga */
  width: auto;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.nav-links a:hover {
  color: crimson;
}
